@font-face {
    font-family: 'Nanum Myeongjo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../font/NanumMyeongjo-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Nanum Myeongjo';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../font/NanumMyeongjo-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Nanum Myeongjo';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../font/NanumMyeongjo-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../font/Pretendard-Light.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../font/Pretendard-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../font/Pretendard-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../font/Pretendard-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../font/Pretendard-Black.woff') format('woff');
}